body {
    background-color: coral;
}

.container {
    background-color: coral;
    margin: auto;
    padding: 10px;
    max-width: 90%;
}

#crystalOne,
#crystalTwo,
#crystalThree,
#crystalFour {
    width: 100px;
    height: auto;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#title {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#instructions {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #333333;
    color: coral;
    font-style: italic;
    font-size: larger;
}

#numbers {
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
    margin: 5px;
    background-color: #333333;
    color: coral;
    text-align: center;
}

#numberText,
#targetText,
#winText,
#lossText {
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
}
